.container {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.header img {
    display: block;
    max-width: 300px;
    height: 50px;
}

.video-container {
    height: 90vh;
    width: 100%;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.video-container h1, .video-container p {
    padding: 0;
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, .2));
}

.video-container h1 {
    font-size: 3em;
    color: var(--primary);
}

.video-container p {
    color: white;
    text-align: center;
    max-width: 650px;
    font-weight: bold;
}

@media only screen and (max-width: 417px) {
    .video-container h1 {
        font-size: 2em;
        width: 90%;
        text-align: center;
    }

    .video-container p {
        font-size: .7em;
        width: 90%;
    }
}

.tv {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateX(-6%) translateY(40%);
}

@media only screen and (max-width: 417px) {
    .tv {
        width: 100%;
        transform: translateX(-6%) translateY(40%);
    }

}

.tv span {
    position: absolute;
    background: black;
    height: 130%;
    width: 66%;
}

.tv img {
    position: absolute;
    width: 100%;
}

.tv video {
    width: 60%;
    transform: translate(0%, -6%);
}